organisaatio-api/src/main/resources/wsdl/organisaatioService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://model.api.organisaatio.sade.vm.fi/types"
           targetNamespace="http://model.api.organisaatio.sade.vm.fi/types"
           elementFormDefault="qualified">

    <!-- WSDL operation messages -->
    <xs:element name="findBasicOrganisaatioChildsToOidParameter" type="findBasicOrganisaatioChildsToOidTypesParameter"/>
    <xs:element name="findBasicOrganisaatioChildsToOidResponse" type="findBasicOrganisaatioChildsToOidTypesResponse"/>
    <xs:element name="findBasicParentOrganisaatioParameter" type="findBasicParentOrganisaatioTypesParameter"/>
    <xs:element name="findBasicParentOrganisaatioResponse" type="findBasicParentOrganisaatioTypesResponse"/>
    <xs:element name="createOrganisaatio" type="CreateOrganisaatioType"/>
    <xs:element name="createOrganisaatioResponse" type="CreateOrganisaatioResponseType"/>
    <!--    <xs:element name="findAllChildrenWithOid" type="FindAllChildrenWithOidType"/>
        <xs:element name="findAllChildrenWithOidResponse" type="FindAllChildrenWithOidResponseType"/>-->
    <xs:element name="findAll" type="FindAllType"/>
    <xs:element name="findAllResponse" type="FindAllResponseType"/>
    <xs:element name="removeByOid" type="RemoveByOidType"/>
    <xs:element name="removeByOidResponse" type="RemoveByOidResponseType"/>
    <xs:element name="findByOid" type="FindByOidType"/>
    <xs:element name="findByOidList" type="FindByOidListType"/>
    <xs:element name="findByOidListResponse" type="FindByOidListResponseType"/>
    <xs:element name="findParentsByOidList" type="FindParentsByOidListType"/>
    <xs:element name="findParentsByOidListResponse" type="FindParentsByOidListResponseType"/>
    <xs:element name="findByOidResponse" type="FindByOidResponseType"/>
    <xs:element name="findChildrenTo" type="FindChildrenToType"/>
    <xs:element name="findChildrenToResponse" type="FindChildrenToResponseType"/>
    <xs:element name="findOrganisaatioByNimiLike" type="FindOrganisaatioByNimiLikeType"/>
    <xs:element name="findOrganisaatioByNimiLikeResponse" type="FindOrganisaatioByNimiLikeResponseType"/>
    <xs:element name="findOrganisaatiosByDomainNimi" type="FindOrganisaatiosByDomainNimiType"/>
    <xs:element name="findOrganisaatiosByDomainNimiResponse" type="FindOrganisaatiosByDomainNimiResponseType"/>
    <xs:element name="findParentsTo" type="FindParentsToType"/>
    <xs:element name="findParentsToResponse" type="FindParentsToResponseType"/>
    <xs:element name="searchOrganisaatios" type="SearchOrganisaatiosType"/>
    <xs:element name="searchOrganisaatiosResponse" type="SearchOrganisaatiosResponseType"/>
    <xs:element name="updateOrganisaatio" type="UpdateOrganisaatioType"/>
    <xs:element name="updateOrganisaatioResponse" type="UpdateOrganisaatioResponseType"/>
    <xs:element name="ping" type="PingType"/>
    <xs:element name="pingResponse" type="PingResponseType"/>
    <xs:element name="genericFaultInfo" type="GenericFaultInfoType"></xs:element>
    <xs:element name="organisaatioOidListRequest" type="organisaatioSearchOidType"></xs:element>
    <xs:element name="organisaatioOidListResponse" type="organisaatioOidListType"></xs:element>


    <xs:element name="getOrganizationStructure" type="OrganizationStructureQueryType"/>
    <xs:element name="getOrganizationStructureResponse" type="OrganizationStructureListType"/>


    <xs:element name="findYhteystietojenTyyppis" type="FindYhteystietojenTyyppisType"/>
    <xs:element name="findYhteystietojenTyyppisResponse" type="FindYhteystietojenTyyppisResponseType"/>
    <xs:element name="createYhteystietojenTyyppi" type="CreateYhteystietojenTyyppiType"/>
    <xs:element name="createYhteystietojenTyyppiResponse" type="CreateYhteystietojenTyyppiResponseType"/>
    <xs:element name="updateYhteystietojenTyyppi" type="UpdateYhteystietojenTyyppiType"/>
    <xs:element name="updateYhteystietojenTyyppiResponse" type="UpdateYhteystietojenTyyppiResponseType"/>
    <xs:element name="removeYhteystietojenTyyppiByOid" type="RemoveByOidType"/>
    <xs:element name="removeYhteystietojenTyyppiByOidResponse" type="RemoveByOidResponseType"/>
    <xs:element name="readYhteystietojenTyyppi" type="ReadYhteystietojenTyyppiType"/>
    <xs:element name="readYhteystietojenTyyppiResponse" type="ReadYhteystietojenTyyppiResponseType"/>
    <xs:element name="findYhteystietoMetadataForOrganisaatio" type="FindYhteystietoMetadataForOrganisaatioType"/>
    <xs:element name="findYhteystietoMetadataForOrganisaatioResponse"
                type="FindYhteystietoMetadataForOrganisaatioResponseType"/>
    <xs:element name="findYhteystietoArvosForOrganisaatio" type="FindYhteystietoArvosForOrganisaatioType"/>
    <xs:element name="findYhteystietoArvosForOrganisaatioResponse"
                type="FindYhteystietoArvosForOrganisaatioResponseType"/>

    <xs:element name="findYhteystietos" type="FindYhteystietosType"/>
    <xs:element name="findYhteystietosResponse" type="FindYhteystietosResponseType"/>
    <xs:element name="createYhteystieto" type="CreateYhteystietoType"/>
    <xs:element name="createYhteystietoResponse" type="CreateYhteystietoResponseType"/>
    <xs:element name="updateYhteystieto" type="UpdateYhteystietoType"/>
    <xs:element name="updateYhteystietoResponse" type="UpdateYhteystietoResponseType"/>
    <xs:element name="readYhteystieto" type="ReadYhteystietoType"/>
    <xs:element name="readYhteystietoResponse" type="ReadYhteystietoResponseType"/>

    <!--    <xs:element name="listOrganisaatioByParentOids" type="ListOrganisaatioByParentOidsType" />
        <xs:element name="listOrganisaatioByParentOidsResponse" type="ListOrganisaatioByParentOidsResponseType" />-->

    <xs:complexType name="OrganizationStructureQueryType">
        <xs:sequence>
            <xs:element type="xs:string" name="oids" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="OrganizationStructureListType">
        <xs:sequence>
            <xs:element name="organizationStructure" type="OrganizationStructureType" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OrganizationStructureType">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="oid"/>
        <xs:attribute type="xs:string" use="optional" name="parentOid"/>
        <!--  <xs:attribute type="xs:string" use="required" name="parentOidPath"/>  -->
        <xs:attribute type="xs:string" use="optional" name="nameFi"/>
        <xs:attribute type="xs:string" use="optional" name="nameSv"/>
        <xs:attribute type="xs:string" use="optional" name="nameEn"/>
        <xs:attribute type="xs:boolean" use="optional" name="poistettu"/>
        <xs:attribute type="xs:date" use="optional" name="lakkautusPvm"/>
    </xs:complexType>

    <!-- Organisaatio DTOs -->
    <xs:complexType abstract="true" name="yhteystietoDTO">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="version" type="xs:long"/>
            <xs:element minOccurs="1" maxOccurs="1" name="yhteystietoOid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="osoiteDTO">
        <xs:complexContent>
            <xs:extension base="yhteystietoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="coordinateType" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Koordinaatiston tyyppi.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="lat" type="xs:double">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">LAT koordinaatti</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="lng" type="xs:double">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">LNG koordinaatti</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="maa" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">MAA, koodisto-uri</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="osavaltio" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Osavaltion nimi</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="osoite" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Osoiterivi 1.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="extraRivi" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Osoitteen "lisärivi" / osoiterivi 2, ulkomaalaisiin
                                osoitteisiin.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="osoiteKayttotarkoitus" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Mihin tarkoitukseen osoite on käytettävissä. Esim.
                                psygologin vastaanotto tms.
                                TODO tarkista!
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="osoiteMuuKaytto" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">TODO tarkista mikä tämä on?</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="osoiteTyyppi" type="osoiteTyyppi">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">OsoiteTyyppi enum; "muu", "posti", "kaynti"
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="postinumero" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Postinumero; koodisto uri</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="postitoimipaikka" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Tekstuaalinen paikka, esim. "Helsinki" - arvo tulee
                                koodiston metadatasta
                                valitun postinumeron kautta.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ytjPaivitysPvm" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Aikaleima, jolloin päivitetty YTJ:stä.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="wwwDTO">
        <xs:complexContent>
            <xs:extension base="yhteystietoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="wwwOsoite" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="puhelinNumeroTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Sallitut numerotyypit.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="puhelin"/>
            <xs:enumeration value="faksi"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="organisaatioTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Sallitut organisaatioiden päätyypit.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Koulutustoimija"/>
            <xs:enumeration value="Oppilaitos"/>
            <xs:enumeration value="Toimipiste"/>
            <xs:enumeration value="Oppisopimustoimipiste"/>
            <xs:enumeration value="Muu organisaatio"/>
            <xs:enumeration value="Ryhma"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="osoiteTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Osoitetyypit</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="posti"/>
            <xs:enumeration value="kaynti"/>
            <xs:enumeration value="ruotsi_posti"/>
            <xs:enumeration value="ruotsi_kaynti"/>
            <xs:enumeration value="ulkomainen_posti"/>
            <xs:enumeration value="ulkomainen_kaynti"/>
            <xs:enumeration value="muu"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="yhteystietoElementtiTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Yhteystietojen elementtien sallitut tyypit; näistä muodostetaan dynaamisia
                yhteystieto kokonaisuuksia.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Teksti"/>
            <xs:enumeration value="Puhelin"/>
            <xs:enumeration value="Faksi"/>
            <xs:enumeration value="Nimi"/>
            <xs:enumeration value="Nimike"/>
            <xs:enumeration value="Osoite"/>
            <xs:enumeration value="Osoite ulkomaa"/>
            <xs:enumeration value="Www"/>
            <xs:enumeration value="Email"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="kuvailevaTietoTyyppiTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kuvailevien tietojen tyypit (LOP tiedot).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Yleiskuvaus"/>
            <xs:enumeration value="Esteetomyys"/>
            <xs:enumeration value="Oppimisymparisto"/>
            <xs:enumeration value="Vuosikello"/>
            <xs:enumeration value="Vastuuhenkilot"/>
            <xs:enumeration value="Valintamenettely"/>
            <xs:enumeration value="AiemminHankittuOsaaminen"/>
            <xs:enumeration value="Kieliopinnot"/>
            <xs:enumeration value="Tyoharjoittelu"/>
            <xs:enumeration value="Opiskelijaliikkuvuus"/>
            <xs:enumeration value="KansainvalisetKoulutusohjelmat"/>
            <xs:enumeration value="Kustannukset"/>
            <xs:enumeration value="Rahoitus"/>
            <xs:enumeration value="Opiskelijaruokailu"/>
            <xs:enumeration value="Terveydenhuoltopalvelut"/>
            <xs:enumeration value="Vakuutukset"/>
            <xs:enumeration value="Opiskelijaliikunta"/>
            <xs:enumeration value="VapaaAika"/>
            <xs:enumeration value="OpiskelijaJarjestot"/>
            <xs:enumeration value="TietoaAsumisesta"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="soMeLinkkiTyyppiTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Sosiaalisen median linkkityypit.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Facebook"/>
            <xs:enumeration value="LinkedIn"/>
            <xs:enumeration value="Twitter"/>
            <xs:enumeration value="GooglePlus"/>
            <xs:enumeration value="Muu"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="puhelinnumeroDTO">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puhelinnumero; tyyppi + numero</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="yhteystietoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="puhelinnumero" type="xs:string"/>
                    <xs:element minOccurs="0" name="tyyppi" type="puhelinNumeroTyyppi"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="emailDTO">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Sahkopostiosoite.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="yhteystietoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="yhteystietoArvoDTO">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Dynaamisen yhteystiedon "arvo".</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="yhteystietoArvoOid" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Yksilöivä avain.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="arvo" type="xs:anyType">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Dynaamisen tyypin arvo.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="kieli" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Arvon kieli.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="kenttaOid" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Dynaamisen kentän yksilöivä tunniste.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="organisaatioOid" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation tunniste.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="searchCriteriaDTO">
        <xs:annotation>
            <xs:documentation xml:lang="fi">TODO kirjoita</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="maxResults" type="xs:int"/>
            <xs:element minOccurs="0" name="searchStr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="organisaatioSearchCriteriaDTO">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Organisaatioiden hakuehdot.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="searchCriteriaDTO">
                <xs:sequence>
                    <xs:element name="lakkautetut" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Jos totta, niin palautetaan myös lakkautetut
                                organisaatiot.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="oppilaitosTyyppi" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Jos annettuna, niin rajataan oppilaitostyypin (koodistosta)
                                mukaan.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="organisaatioTyyppi" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Jos annettu, niin rajataan hakua OrganisaatioTyypin (enum)
                                mukaan.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="suunnitellut" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Jos totta, niin palautetaan ei vielä voimassaolevia
                                organisaatioita (alkamisPvm tulevaisuudessa).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="firstResult" type="xs:int">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Ensimmäisen tuloksen offset (sivutukseen).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="organisaatioDomainNimi" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Haetaan organisaation domain nimestä.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="kunta" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Haetaan valitun kunnan koodisto uri:lla.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="oidResctrictionList" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">Jos annettu, niin hakutulosten on oltava annetussa
                                listassa.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="organisaatioPerustietoType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Organisaation "kevyet" perustiedot.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string"/>
            <xs:element minOccurs="1" maxOccurs="1" name="version" type="xs:long"/>
            <xs:element minOccurs="0" name="alkuPvm" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="lakkautusPvm" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="nimiEn" type="xs:string"/>
            <xs:element minOccurs="0" name="nimiFi" type="xs:string"/>
            <xs:element minOccurs="0" name="nimiSv" type="xs:string"/>
            <xs:element minOccurs="0" name="parentOid" type="xs:string"/>
            <xs:element minOccurs="0" name="parentOidPath" type="xs:string"/>
            <xs:element minOccurs="0" name="ytunnus" type="xs:string"/>
            <xs:element minOccurs="0" name="virastoTunnus" type="xs:string"/>

            <xs:element minOccurs="1" maxOccurs="1" name="aliOrganisaatioMaara" type="xs:int"/>
            <xs:element minOccurs="0" name="oppilaitosKoodi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{5}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="oppilaitostyyppi" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tyypit" nillable="true" type="organisaatioTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="organisaatioKuvaTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Organisaatio kuva.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="mimeType" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="fileName" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="kuva" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="kuvailevaTietoTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Organisaatiota kuvaileva monikielinen teksti.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="tyyppi" type="kuvailevaTietoTyyppiTyyppi"/>
            <xs:element minOccurs="1" maxOccurs="1" name="sisalto" type="MonikielinenTekstiTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="soMeLinkkiTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Linkki organisaation sivulle sosiaalisessa mediassa.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="tyyppi" type="soMeLinkkiTyyppiTyyppi"/>
            <xs:element minOccurs="1" maxOccurs="1" name="sisalto" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="yhteyshenkiloTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Organisaation yhteyshenkilo (ECTS-yhteyshenkilo).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="oid" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="kokoNimi" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="titteli" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="puhelin" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="hakutoimistoTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Organisaation hakutoimiston tiedot.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="opintotoimistoNimi" type="MonikielinenTekstiTyyppi"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="opintotoimistoYhteystiedot" nillable="true"
                        type="yhteystietoDTO"/>
            <xs:element minOccurs="0" maxOccurs="1" name="ectsYhteyshenkilo" type="yhteyshenkiloTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="organisaatioKuvailevatTiedotTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Organisaation kuvailevat (LOP) tiedot.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="kuva" type="organisaatioKuvaTyyppi"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="vapaatKuvaukset" type="kuvailevaTietoTyyppi"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="soMeLinkit" type="soMeLinkkiTyyppi"/>
            <xs:element minOccurs="0" maxOccurs="1" name="hakutoimisto" type="hakutoimistoTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="organisaatioDTO">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="version" type="xs:long">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Samanaikaisten muokkausten hallinta. Jos versionumero
                        ei ole tallennettaessa sama (tietokannassa), niin tallennus epäonnistuu.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="0" name="alkuPvm" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Aika, jolloin organisaatio alkaa olla voimassa.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="domainNimi" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation domain, esim. "helsinki.fi".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="kielet" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation kielet. Koodisto "kieli" ureja.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="kotipaikka" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation kotipaikka, koodisto URI (kunnat).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="lakkautusPvm" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation voimassa olo lakkaa. "NULL" toistaiseksi voimassa.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="maa" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation kotimaa, koodisto "maa"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="nimi" type="MonikielinenTekstiTyyppi">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation nimi, UI:ssa FI, EN, SV.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="parentOid" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation "äiti", hierarkinen rakenne.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="parentOidPath" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation "äitipolku", hierarkinen rakenne.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation OID, saadaan OID-palvelusta. Uniikki.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="oppilaitosKoodi">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation oppilaitoskoodi (viisi numeroa) - Lähde:
                        Tilastokeskus.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{5}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element minOccurs="0" name="opetuspisteenJarjNro" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Opetuspisteen jarjestysnumero. Kertoo monesko oppilaitoksen lapsi
                        toimipiste oli Koulutassa.
                        Kenttaa tarvitaan, jotta koulutasta importoiduille toimipisteille voidaan myohemmin luoda
                        toimipistekoodi.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="0" name="yhteishaunKoulukoodi" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Organisaation yhteishaun koulukoodi. Kenttaa tarvitaan, jotta
                        koulutasta importoiduille toimipisteille voidaan myohemmin luoda toimipistekoodi.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="0" name="toimipistekoodi" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Toimipisteen numero. Muodostetaan aitiorganisaation
                        oppilaitoskoodista, opetuspisteen
                        jarjestysnumerosta ja yhteishaun koulukoodista
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="oppilaitosTyyppi" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Koodisto - jos organisaatio on "oppilaitos"; URI.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="vuosiluokat" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Tekstiä, esim. "1-3", "6-9,10" tms.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="unbounded" minOccurs="0" name="tyypit" nillable="true" type="organisaatioTyyppi">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Arvot OrganisaatipTyyppi enumeja.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="yritysmuoto" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">YTJ:stä, esim. "OSAKEYHTIÖ".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ytunnus" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Y-tunnus - organisaation perustiedot haetaan silloin YTJ:stä
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="virastoTunnus" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Virastotunnus; 6-numeroa ja vapaamuotoinen toimipaikkajatke, esim.
                        "250021CF Lapin Ilmatorjuntarykmentti"
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ytjPaivitysPvm" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Aikaleima, jolloin YTJ-tiedot on haettu/päivitetty.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="tuontiPvm" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Aikaleima, jolloin tiedot tuotu koulutasta.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="unbounded" minOccurs="0" name="muutOsoitteet" nillable="true" type="osoiteDTO">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Muut tyypittämättömät "ekstra" osoitteet - käyttöliittymästä .
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="yhteystiedot" nillable="true" type="yhteystietoDTO">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Yhteystiedot; esim. posti-osoite, www, faksi, käyntiosoite jne..
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="yhteystietoArvos" nillable="true"
                        type="yhteystietoArvoDTO">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Dynaamisten yhteystietojen arvot, jotka on määritelty annettavaksi
                        tietyille
                        organisaatio / oppilaitostyypeille.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="kuvailevatTiedot" type="organisaatioKuvailevatTiedotTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="organisaatioOidListType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Lista organisaatioiden OID:ja.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="organisaatioOidList" type="organisaatioOidType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="organisaatioOidType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Organisaation OID.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="organisaatioOid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="organisaatioSearchOidType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="searchOid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="yhteystietoElementtiDTO">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Yhteystiedon dynaaminen "elementti".</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="version" type="xs:long"/>

            <xs:element name="oid" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Uniikki id.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nimi" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Nimi suomeksi.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nimiSv" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Nimi ruotsiksi.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nimiEn" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Nimi englanniksi.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="tyyppi" type="yhteystietoElementtiTyyppi">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Elementin tyyppi; puhelin, faksi, nimi, nimike, ...
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kaytossa" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Jos totta, niin käytettävissä Organisaation editointilomakkeella.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pakollinen" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Jos totta, niin pakollinen syötettävä tieto organisaation
                        editointilomakkeella.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MonikielinenTekstiTyyppi">
        <xs:sequence>

            <xs:element minOccurs="1" maxOccurs="unbounded" name="Teksti">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Joukko kielistettyja teksteja "kieliKoodi" attribuutilla.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="kieliKoodi" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="yhteystietojenTyyppiDTO">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="version" type="xs:long">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Samanaikaisten muokkausten hallintaa varten.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="0" name="oid" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Uniikki id.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="nimi" type="MonikielinenTekstiTyyppi">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Nimi monikielisenä.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sovellettavatOrganisaatios" nillable="true"
                        type="organisaatioTyyppi">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Sovellettavien organisaatiotyyppien lista (enum).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="allLisatietokenttas" nillable="true"
                        type="yhteystietoElementtiDTO">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Lista lisätietokenttiä.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sovellettavatOppilaitostyyppis" nillable="true"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Lista opilaitostyyppi ureja (koodisto), joissa yhteystieto
                        käytössä.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- WSDL operation parameters and return values -->
    <xs:complexType name="findBasicOrganisaatioChildsToOidTypesParameter">
        <xs:sequence>
            <xs:element minOccurs="0" name="oid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="findBasicOrganisaatioChildsToOidTypesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="organisaatioPerustiedot"
                        type="organisaatioPerustietoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="findBasicParentOrganisaatioTypesParameter">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="findBasicParentOrganisaatioTypesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="organisaatioPerustiedot"
                        type="organisaatioPerustietoType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RemoveByOidType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemoveByOidResponseType">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="FindByOidType">
        <xs:sequence>
            <xs:element minOccurs="0" name="oid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindByOidResponseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="organisaatioDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindParentsToType">
        <xs:sequence>
            <xs:element minOccurs="0" name="oid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindParentsToResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="organisaatioDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PingType">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PingResponseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindOrganisaatiosByDomainNimiType">
        <xs:sequence>
            <xs:element minOccurs="0" name="domainNimi" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindOrganisaatiosByDomainNimiResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="organisaatioDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateOrganisaatioType">
        <xs:sequence>
            <xs:element minOccurs="0" name="organisaatio" type="organisaatioDTO"/>
            <xs:element minOccurs="1" maxOccurs="1" name="skipValidation" type="xs:boolean" default="false"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateOrganisaatioResponseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="organisaatioDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindChildrenToOrganisaatioType">
        <xs:sequence>
            <xs:element minOccurs="0" name="oid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindChildrenToType">
        <xs:sequence>
            <xs:element minOccurs="0" name="oid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindChildrenToResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="organisaatioDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateOrganisaatioType">
        <xs:sequence>
            <xs:element minOccurs="0" name="organisaatio" type="organisaatioDTO"/>
            <xs:element minOccurs="1" maxOccurs="1" name="skipValidation" type="xs:boolean" default="false"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateOrganisaatioResponseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="organisaatioDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SearchOrganisaatiosType">
        <xs:sequence>
            <xs:element minOccurs="0" name="organisaatioSearchCriteria" type="organisaatioSearchCriteriaDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SearchOrganisaatiosResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="organisaatioDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindByOidListType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="oids" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">"Äiti" organisaatioiden OID lista.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="maxResults" type="xs:int">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Rajoitetaan kuinka monen "äidin" alta lapset(kin) palautetaan.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindByOidListResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="organisaatioDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindParentsByOidListType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="oids" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindParentsByOidListResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="organisaatioDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindOrganisaatioByNimiLikeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Sivutettu "nimi" like-haku.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="organisaatioNimi" type="xs:string"/>
            <xs:element name="firstIndex" type="xs:int"/>
            <xs:element name="maxResults" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindOrganisaatioByNimiLikeResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="organisaatioDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindAllType">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="FindAllResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="organisaatioDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindYhteystietojenTyyppisType">
        <xs:sequence>
            <xs:element minOccurs="0" name="yhteystietojenTyyppiSearchCriteria" type="searchCriteriaDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindYhteystietojenTyyppisResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="yhteystietojenTyyppiDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateYhteystietojenTyyppiType">
        <xs:sequence>
            <xs:element minOccurs="0" name="yhteystietojenTyyppi" type="yhteystietojenTyyppiDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateYhteystietojenTyyppiResponseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="yhteystietojenTyyppiDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateYhteystietojenTyyppiType">
        <xs:sequence>
            <xs:element minOccurs="0" name="yhteystietojenTyyppi" type="yhteystietojenTyyppiDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateYhteystietojenTyyppiResponseType">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="ReadYhteystietojenTyyppiType">
        <xs:sequence>
            <xs:element minOccurs="0" name="yhteystietojenTyyppiOid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReadYhteystietojenTyyppiResponseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="yhteystietojenTyyppiDTO"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FindYhteystietoMetadataForOrganisaatioType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="organisaatioTyyppi" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindYhteystietoMetadataForOrganisaatioResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="yhteystietojenTyyppiDTO"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FindYhteystietoArvosForOrganisaatioType">
        <xs:sequence>
            <xs:element minOccurs="0" name="organisaatioOid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindYhteystietoArvosForOrganisaatioResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="yhteystietoArvoDTO"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FindYhteystietosType">
        <xs:sequence>
            <xs:element minOccurs="0" name="yhteystietoSearchCriteria" type="searchCriteriaDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FindYhteystietosResponseType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="yhteystietoDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateYhteystietoType">
        <xs:sequence>
            <xs:element minOccurs="0" name="yhteystieto" type="yhteystietoDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateYhteystietoResponseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="yhteystietoDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateYhteystietoType">
        <xs:sequence>
            <xs:element minOccurs="0" name="yhteystieto" type="yhteystietoDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateYhteystietoResponseType">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="ReadYhteystietoType">
        <xs:sequence>
            <xs:element minOccurs="0" name="yhteystietoOid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReadYhteystietoResponseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="yhteystietoDTO"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GenericFaultInfoType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Geneerinen virhe.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string"></xs:element>
            <xs:element name="explanation" type="xs:string" maxOccurs="1"
                        minOccurs="0">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
